



.modal{
    width: 50%;
    z-index: 100;
    justify-content: center;
    align-self: center;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    transition: all 0.3s ease;
    flex-direction: column;
    position: absolute;
    z-index: 100;
}



.ModalOpen {
    display: flex;
}